# this file loads specific linux config

# it's disabled by default so you need to copy it to `linux.config` so that it
# can be loaded by the main config file. This copy will be ignored by git, so
# any permanent changes should be made also on the original file.

# reset font instead of defining a fallback
font-family =
font-family = JetBrainsMono Nerd Font
font-style = Light
font-size = 10

# window
confirm-close-surface=false
resize-overlay = never
window-padding-x = 8
window-padding-y = 4

keybind = f11=toggle_fullscreen
